body {
    background-color: gray;
}
.relative1 {
    background-color: #81c964;
    width: 400px;
}
.absolute1 {
    background-color: #4a743a;
    width: 400px;
}
.absolute2 {
    background-color: #141f0f;
    width: 400px;
}