body {
    margin: auto;
    max-width: 1200px;
    background-color: gray;
}
h1 {
    font-family: fantasy;
    position:relative;
    top: 15px;
    left: 40%;
    bottom: 15px;
}
h2, h3 {
    font-family: fantasy
}
table {
    border-style: solid;
    max-width: 1200px;
    background-color: #4a743a;
}