body {
    background-color: gray;
}
.relative1 {
    position: relative;
    top: -20px;
    left: 2%;
    background-color: white;
    width: 400px;
}
.absolute1 {
    position: absolute;
    top: 0px;
    left: 30%;
    background-color: white;
    width: 400px;
}
.absolute2 {
    position: absolute;
    top: 0px;
    left: 62%;
    background-color: white;
    width: 400px;
}